<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Top pick #<%= @top_pick.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/top_picks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link top_pick start -->
      <div class="col">
        <% if current_user == @top_pick.user %>
          <a href="/top_picks/<%= @top_pick.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit top_pick
          </a>
        <% end %>
      </div>
      <!-- Edit link top_pick end -->

      <!-- Delete link top_pick start -->
      <div class="col">
        <% if current_user == @top_pick.user %>
          <a href="/delete_top_pick/<%= @top_pick.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete top_pick
          </a>
        <% end %>
      </div>
      <!-- Delete link top_pick end -->
    </div>

    <dl>
      <dt>
        Venue
      </dt>
      <!-- Display venue_id start -->
      <dd>
        <% if @top_pick.venue.present? %>
          <a href="/venues/<%= @top_pick.venue_id %>">
            <%= @top_pick.venue.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display venue_id end -->

      <dt>
        Dish
      </dt>
      <!-- Display dish_id start -->
      <dd>
        <% if @top_pick.dish.present? %>
          <a href="/dishes/<%= @top_pick.dish_id %>">
            <%= @top_pick.dish.cuisine_id %>
          </a>
        <% end %>
      </dd>
      <!-- Display dish_id end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @top_pick.user.present? %>
          <a href="/users/<%= @top_pick.user_id %>">
            <%= @top_pick.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@top_pick.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@top_pick.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
