<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All names
    </h1>

    <a href="/names/new" class="btn btn-block btn-outline-secondary">
      Add a new name
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "name_templates/names_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @names.each do |name| %>
      <tr>
        <td>
          <%= name.id %>
        </td>

        <td>
          <%= time_ago_in_words(name.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(name.updated_at) %> ago
        </td>

        <td>
          <a href="/names/<%= name.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @names, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
